@model AAOAdmin.Models.Route

@{
    ViewData["Title"] = "Opret tur";
    Layout = "_Layout";
}

<h1>Opret tur</h1>

<div>
    <div>
        <form asp-action="Create" class="w-full grid grid-cols-[1fr_2fr] gap-4">
            <div class="w-full">
                <div asp-validation-summary="ModelOnly"></div>

                <div>
                    <label class="block" asp-for="RouteStartDate">Startdato</label>
                    <input asp-for="RouteStartDate"
                        class="border border-solid border-[#005140] rounded-sm w-full p-1 mb-2" />
                    <span asp-validation-for="RouteStartDate"></span>
                </div>

                <div>
                    <label class="block" asp-for="RouteEndDate">Slutdato</label>
                    <input asp-for="RouteEndDate"
                        class="border border-solid border-[#005140] rounded-sm w-full p-1 mb-2" />
                    <span asp-validation-for="RouteEndDate"></span>
                </div>

                <div>
                    <label class="block" asp-for="RouteStartLocationId">Start lokation</label>
                    <select asp-for="RouteStartLocationId" asp-items="ViewBag.RouteStartLocationId"
                        class="border border-solid border-[#005140] rounded-sm w-full p-1 mb-2"></select>
                </div>

                <div>
                    <label class="block" asp-for="RouteEndLocationId">Slut lokation</label>
                    <select asp-for="RouteEndLocationId" asp-items="ViewBag.RouteEndLocationId"
                        class="border border-solid border-[#005140] rounded-sm w-full p-1 mb-2"></select>

                </div>

                <div>
                    <label class="block" asp-for="RouteHighPriority">Høj prioritet</label>
                    <input asp-for="RouteHighPriority"
                        class="border border-solid border-[#005140] rounded-sm w-full p-1 mb-2" />
                    <span asp-validation-for="RouteHighPriority"></span>
                </div>
            </div>

            <div class="w-full flex flex-col">
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label class="block" asp-for="RouteStatusId">Status</label>
                        <select asp-for="RouteStatusId" asp-items="ViewBag.RouteStatusId"
                            class="capitalize border border-solid border-[#005140] rounded-sm w-full p-1 mb-2"></select>
                    </div>

                    <div>
                        <label class="block" asp-for="DepartmentId">Afdeling</label>
                        <select asp-for="DepartmentId" asp-items="ViewBag.DepartmentId"
                            class="border border-solid border-[#005140] rounded-sm w-full p-1 mb-2"></select>
                    </div>

                    <div>
                        <label class="block" asp-for="RouteEstTime">Estimeret tid i timer</label>
                        <input asp-for="RouteEstTime"
                            class="border border-solid border-[#005140] rounded-sm w-full p-1 mb-2" />
                        <span asp-validation-for="RouteEstTime"></span>
                    </div>
                </div>

                <div class="w-full">
                    <label class="block" asp-for="RouteDescription">Beskrivelse</label>
                    <textarea asp-for="RouteDescription"
                        class="border border-solid border-[#005140] rounded-sm p-1 mb-2 w-full"></textarea>
                    <span asp-validation-for="RouteDescription"></span>
                </div>

                <button type="submit" value="Create"
                    class="bg-[#00904a] hover:bg-[#00522a] rounded-lg border-none py-2 px-4 text-white cursor-pointer block text-base ml-auto">
                    Opret tur
                </button>
            </div>
        </form>
    </div>
</div>
