<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AAOAdmin</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/211c7f6f1f.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="page-wrapper">
        <div class="sidebar">
            <img src="" alt="Alternate Text"/>
            <div>
                <a href="#" class="arrow-align-right">
                    <span>
                        <i class="fas fa-chart-line"></i>
                        Dashboard
                    </span>
                    <span><i class="fas fa-angle-right"></i></span>
                </a>


                <a href="#" class="arrow-align-right">
                    <span>
                        <i class="fas fa-edit"></i>
                        Opret tur
                    </span>
                    <span><i class="fas fa-angle-right"></i></span>
                </a>

                <a href="#" class="arrow-align-right">
                    <span>
                        <i class="fas fa-database"></i>
                        Chauffører
                    </span>
                    <span><i class="fas fa-angle-right"></i></span>
                </a>

                <a href="#" class="arrow-align-right">
                    <span>
                        <i class="fas fa-route"></i>
                        Ture
                    </span>
                    <span><i class="fas fa-angle-right"></i></span>
                </a>

            </div>
        </div>

        <div class="render-body">
            <main>
                @RenderBody()
            </main>
        </div>

    </div>


    <footer></footer>
</body>
</html>
