<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AAOAdmin</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/Table.css" rel="stylesheet" />
    <link href="~/css/sidenav.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/211c7f6f1f.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="page-wrapper">
        <div class="sidebar">
            <img src="~/imagess/AAlogo.png" alt="AAO logo" class="aao-logo" />
            <h3>Alex Andersen Ølund</h3>
            <div class="nav-menu">
                <a href="" class="arrow-align-right">
                    <span>
                        <i class="fas fa-chart-line"></i>
                        Dashboard
                    </span>
                    <span><i class="fas fa-angle-right"></i></span>
                </a>


                <a href="#" class="arrow-align-right">
                    <span>
                        <i class="fas fa-edit"></i>
                        Opret tur
                    </span>
                    <span><i class="fas fa-angle-right"></i></span>
                </a>

                <a href="#" class="arrow-align-right">
                    <span>
                        <i class="fas fa-route"></i>
                        Ture
                    </span>
                    <span><i class="fas fa-angle-right"></i></span>
                </a>

                <a href="/users" class="arrow-align-right">
                    <span>
                        <i class="fas fa-database"></i>
                        Chauffører
                    </span>
                    <span><i class="fas fa-angle-right"></i></span>
                </a>

            </div>
        </div>
        <div style="width: 100%;">

            <div id="topnav">   
                <div id="nav-login">Login <i class="fa fa-fw fa-user"></i></div>
            </div>

            <div class="render-body">
                <main>
                    @RenderBody()
                </main>
            </div>
        </div>

    </div>


    <footer></footer>
</body>
</html>
