<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Alex Andersen Ølund</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/211c7f6f1f.js" crossorigin="anonymous"></script>
  <link href="~/css/site.css" rel="stylesheet" />
</head>

<body>
  <div class="w-full flex">
    <div class="sidebar w-80 max-w-[35vw] bg-white h-full min-h-screen flex flex-col">
      <a href="/dashboard" class="hover:text-[#00904a]">
        <img src="~/images/AAlogo.png" alt="AAO logo" class="h-auto ml-auto mr-auto pt-[6vh]" />
      </a>
      <h3>Alex Andersen Ølund</h3>
      <div class="pt-2">
        <a href="/dashboard" class="block text-black p-4 no-underline text-xl hover:text-[#00904a]">
          <span>
            <i class="px-2 fas fa-chart-line"></i>
            Dashboard
          </span>
          <span><i class="px-2 fas fa-angle-right"></i></span>
        </a>

        <a href="/routes/create" class="block text-black p-4 no-underline text-xl hover:text-[#00904a]">
          <span>
            <i class="px-2 fas fa-edit"></i>
            Opret tur
          </span>
          <span><i class="px-2 fas fa-angle-right"></i></span>
        </a>

        <a href="/routes" class="block text-black p-4 no-underline text-xl hover:text-[#00904a]">
          <span>
            <i class="px-2 fas fa-route"></i>
            Ture
          </span>
          <span><i class="px-2 fas fa-angle-right"></i></span>
        </a>

        <a href="/users" class="block text-black p-4 no-underline text-xl hover:text-[#00904a]">
          <span>
            <i class="px-2 fas fa-database"></i>
            Chauffører
          </span>
          <span><i class="px-2 fas fa-angle-right"></i></span>
        </a>
      </div>
    </div>

    <div class="w-full">
      <div id="topnav">
        <div class="dropdown-profile relative inline-block">
          <div id="nav-login" class="border-none text-white text-base">Lisbeth Kjær <i class="fa fa-fw fa-user"></i>
          </div>
          <div class="dropdown-content">
            <a href="/" class="text-black hover:text-white py-3 px-4 no-underline block">Log ud</a>
          </div>
        </div>
      </div>

      <div class="pt-[4vw] pl-[4vw] pr-[4vw]">
        <main>@RenderBody()</main>
      </div>
    </div>
  </div>
</body>

</html>
