@page
@using static AAOAdmin.Controllers.DashboardController

@{
  int routesMissingDrivers = GetRoutesMissingDrivers();
  int routesThisWeek = GetRoutesThisWeek();
  int availableDriversThisWeek = GetAvailableDriversThisWeek();
}

<div class="grid gap-4 grid-cols-1 lg:grid-cols-2">

  <div class="grid grid-cols-3 grid-rows-3 gap-4">
    <div class="w-100 h-100 bg-slate-200 rounded-xl text-center flex place-content-center flex-col">
      <h3 class="font-bold text-2xl">
        @routesThisWeek
      </h3>

      <h3 class="text-xl">Ruter denne uge</h3>
    </div>

    <div class="w-100 h-100 bg-slate-200 rounded-xl text-center flex place-content-center flex-col">
      <h3 class="font-bold text-2xl">
        @routesMissingDrivers
      </h3>

      <h3 class="text-xl">Ruter uden chauffør</h3>
    </div>

    <div class="w-100 h-100 bg-slate-200 rounded-xl text-center flex place-content-center flex-col">
      <h3 class="font-bold text-2xl">
        @availableDriversThisWeek
      </h3>

      <h3 class="text-xl">Ledige chauffører dage</h3>
    </div>
  </div>

  <div id="calendar" class="w-100 grid grid-cols-7 gap-2">
    <div class="p-4 border-slate-200 border-solid border-2 rounded-xl text-center flex place-content-center flex-col">
      <p>M</p>
    </div>
    <div class="p-4 border-slate-200 border-solid border-2 rounded-xl text-center flex place-content-center flex-col">
      <p>T</p>
    </div>
    <div class="p-4 border-slate-200 border-solid border-2 rounded-xl text-center flex place-content-center flex-col">
      <p>O</p>
    </div>
    <div class="p-4 border-slate-200 border-solid border-2 rounded-xl text-center flex place-content-center flex-col">
      <p>T</p>
    </div>
    <div class="p-4 border-slate-200 border-solid border-2 rounded-xl text-center flex place-content-center flex-col">
      <p>F</p>
    </div>
    <div class="p-4 border-slate-200 border-solid border-2 rounded-xl text-center flex place-content-center flex-col">
      <p>L</p>
    </div>
    <div class="p-4 border-slate-200 border-solid border-2 rounded-xl text-center flex place-content-center flex-col">
      <p>S</p>
    </div>
  </div>

</div>

<script src="~/js/routeCalendar.js"></script>
