
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Drivers</title>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

</head>

<body>
    <h1>Oversigt over ledige chauffører</h1>
    <table>
        <tr>
        <th>Navn</th>
        <th>Tlf. nr.</th>
        <th>E-mail</th>
        <th>Kørekort information</th>
        </tr>
    </table>
</body>
</html>
