@{
    ViewData["Title"] = "Login Page";
    Layout = "";
}


<link href="~/css/login.css" rel="stylesheet" />



<div class="containeren">

    <img class="logo" src="imagess/AAlogo.png" />
    <p class="companyName">Alex Andersen</p>
    <p class="appName">Afløser app</p>


    <div class="formen">
        <form action="/action_page.php">
            <label class="form-navn" for="fname">Brugernavn</label>
            <input class="inputfelt" type="text" id="fname" name="fname" />
            <label class="form-kode" for="lname">Adgangskode</label>
            <input class="inputfelt" type="text" id="lname" name="lname" />
            <input class="knap1" type="submit" value="Log ind">
            <input class="knap2" type="submit" value="Hjælp">
        </form>
    </div>


</div>
