@{
    ViewData["Title"] = "Login Page";
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/css/site.css" />





<style>

    .containeren {
        text-align: center;
        font-family: arial;
        margin-bottom: 200px;
    }

    .containeren img.logo {
        width: 300px;
    }

    .containeren img.logo {
        width: 180px;
        margin-bottom: 15px;
    }


    p.companyName {
        margin: 0px;
        font-size: 26px;
        margin-bottom: -5px;
    }

    .containeren .companyName {
        font-size: 26px;
        width: 100%;
        text-align: center;
        margin: 0px;
    }

    .containeren .appName {
        font-size: 26px;
        width: 100%;
        text-align: center;
        margin: -5px 0px 0px 0px;
        font-weight: bold;
    }

    .containeren .formen {
        width: fit-content;
        text-align: left;
        margin: 20px auto auto auto;
    }


    .containeren .formen .form-navn {
        font-weight: 600;
        font-size: 17px;
        display: block;
        margin-bottom: 10px;
    }

    .containeren .formen .form-kode {
        font-weight: 600;
        font-size: 17px;
        margin-top: 15px;
        display: block;
        margin-bottom: 10px;
    }

    .containeren .formen .inputfelt {
        border-radius: 3px;
        border: 1px solid black;
        width: 220px;
        padding: 7px;
        height: 20px;
    }

    input.knap1 {
        padding: 7px 30px;
        border-radius: 3px;
        float: left;
        border: 0px;
        background: #009149;
        color: white;
        font-size: 15px;
    }

    input.knap2 {
        padding: 7px 30px;
        float: right;
        border-radius: 3px;
        border: 0px;
        background-color: #b4b2b2;
        color: white;
        font-size: 15px;
    }

    input.knap1:hover {
        background: #009149;
        opacity: 0.7;
        transition: 0.3s;
    }

    input.knap2:hover {
        background-color: #b4b2b2;
        opacity: 0.7;
        transition: 0.3s;
    }

    .containeren .formen .inputfelt {
        border-radius: 3px;
        border: 1px solid black;
        width: 220px;
        padding: 7px;
        display: block;
        height: 20px;
    }

    input#lname {
        margin-bottom: 30px;
    }

    /* LOGO */
    .containeren img {
        width: 250px;
    }

</style>






<div class="containeren">

    <img class="logo" src="imagess/AAlogo.png" />
    <p class="companyName">Alex Andersen</p>
    <p class="appName">Afløser app</p>


    <div class="formen">
        <form action="/action_page.php">
            <label class="form-navn" for="fname">Brugernavn</label>
            <input class="inputfelt" type="text" id="fname" name="fname" />
            <label class="form-kode" for="lname">Adgangskode</label>
            <input class="inputfelt" type="text" id="lname" name="lname" />
            <input class="knap1" type="submit" value="Log ind">
            <input class="knap2" type="submit" value="Hjælp">
        </form>
    </div>


</div>
