* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.6;
}

    *:before,
    *:after {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        line-height: 1.6;
    }

html {
    scroll-behavior: smooth;
}

body,
html {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    padding-top: 0;
    width: 100%;
}

.page-wrapper {
    width: 100vw;
    display: flex;
}

.sidebar {
    width: 20em;
    max-width: 35vw;
    background-color: white;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: -13px 0 20px 5px #555;
}

    .sidebar .nav-menu {
        padding-top: 10px;
    }

    .sidebar h3 {
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-weight: bolder;
    }

    .sidebar .aao-logo {
        width: 8em;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 6vh;
    }

    .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }

    .sidebar i {
        padding-left: 10px;
        padding-right: 10px;
    }

    .sidebar .arrow-align-right {
        display: flex;
        justify-content: space-between;
    }

    .sidebar a.active {
        color: #00904A;
    }

    .sidebar a:hover:not(.active) {
        color: #00904A;
    }

.render-body {
    padding-left: 4vw;
    padding-top: 4vh;
    padding-right: 4vw;
}


.page-wrapper {
    width: 100vw;
    display: flex;
}

.sidebar {
    width: 18em;
    max-width: 35vw;
    background-color: white;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: -13px 0 20px 5px #555;
}

    .sidebar .nav-menu {
        padding-top: 10px;
    }

    .sidebar h3 {
        font-family: 'Raleway', sans-serif;
        text-align: center;
        font-weight: bolder;
    }

    .sidebar .aao-logo {
        width: 8em;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding-top: 6vh;
    }

    .sidebar a {
        display: block;
        color: black;
        padding: 16px;
        text-decoration: none;
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
    }

    .sidebar i {
        padding-left: 10px;
        padding-right: 10px;
    }

    .sidebar .arrow-align-right {
        display: flex;
        justify-content: space-between;
    }

    .sidebar a.active {
        color: #00904A;
    }

    .sidebar a:hover:not(.active) {
        color: #00904A;
    }

.render-body {
    padding-left: 4vw;
}

#topnav {
    background-color: #00904A;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

    #topnav #nav-login {
        color: white;
        font-size: 20px;
        padding-right: 2vw;
    }

    #topnav #nav-login {
        color: white;
        font-size: 20px;
        padding-right: 2vw;
    }
