* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.6;
}

*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    padding-top: 0;
    width: 100%;
}

h1 {
    font-size: 2rem!important;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0, 0, 0); 
    background-color: rgba(0, 0, 0, 0.4); 
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px 30px 30px 30px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -1rem;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#myBtn {
    background: #00904a;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    margin: auto;
    display: block;
    font-size: 16px;
}

#myBtn:hover {
    background-color: #00522a;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn {
    color: white;
    font-size: 16px;
    border: none;
}

.dropdown-profile {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown-profile:hover .dropdown-content {
    display: block;
}

.dropdown-profile:hover .dropbtn {
}

.edit-btn {
    background: #888;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    margin: auto;
    display: block;
    text-decoration: none;
    font-size: 16px;
}
