@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */

    body{
    padding:0;
    margin:0;
}

.page-wrapper {
    width: 100vw;
    display: flex;
}

.sidebar {
    width: 18em;
    max-width: 35vw;
    background-color: white;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: -13px 0 20px 5px #555;
}

.sidebar .nav-menu{
    padding-top:10px;
}

.sidebar h3 {
    font-family: 'Raleway', sans-serif;
    text-align:center;
    font-weight:bolder;
}

.sidebar .aao-logo{
    width: 8em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6vh;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.sidebar i {
    padding-left:10px;
    padding-right:10px;
}

.sidebar .arrow-align-right {
    display:flex;
    justify-content:space-between;
}

.sidebar a.active {
    color: #00904A;
}

.sidebar a:hover:not(.active) {
    color: #00904A;
}

.render-body {
    padding-left:4vw;
}



body{
    padding:0;
    margin:0;
}

.page-wrapper {
    width: 100vw;
    display: flex;
}

.sidebar {
    width: 18em;
    max-width: 35vw;
    background-color: white;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: -13px 0 20px 5px #555;
}

.sidebar .nav-menu{
    padding-top:10px;
}

.sidebar h3 {
    font-family: 'Raleway', sans-serif;
    text-align:center;
    font-weight:bolder;
}

.sidebar .aao-logo{
    width: 8em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6vh;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.sidebar i {
    padding-left:10px;
    padding-right:10px;
}

.sidebar .arrow-align-right {
    display:flex;
    justify-content:space-between;
}

.sidebar a.active {
    color: #00904A;
}

.sidebar a:hover:not(.active) {
    color: #00904A;
}

.render-body {
    padding-left:4vw;
}

#topnav {
    background-color: #00904A;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

#topnav #nav-login{
    color:white;
    font-size: 20px;
    padding-right: 2vw;

}

#topnav #nav-login{
    color:white;
    font-size: 20px;
    padding-right: 2vw;

}

.table {
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
}

tr, th, td {
    border: 1px solid;
    text-align: left;
    padding: 8px;
}
