* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    padding-top: 0;
    width: 100%;
}

h1 {
    font-size: 2rem !important;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 1rem;
}

th,
tr,
td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 0.5rem;
}

th {
    background: #00904a;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #a2ad9c;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -1rem;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.sidebar {
    box-shadow: -13px 0 20px 5px #555;
}

.sidebar .nav-menu {
    padding-top: 10px;
}

.sidebar h3 {
    text-align: center;
    font-weight: bolder;
}

.sidebar .aao-logo {
    width: 8em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6vh;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 20%);
    z-index: 1;
}

.dropdown-profile:hover .dropdown-content {
    display: block;
}

.del-btn {
    background: #d9534f;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    color: #fff;
    cursor: pointer;
    margin: auto;
    display: block;
    text-decoration: none;
    font-size: 16px;
}

.save-btn {
    background-color: #00904a;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 16px;
}

#topnav {
    background-color: #00904a;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

#topnav #nav-login {
    color: white;
    font-size: 1.25rem;
    padding-right: 2vw;
}
