@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
    padding:0;
    margin:0;
}

.page-wrapper {
    width: 100vw;
    display: flex;
}

.sidebar {
    width: 20em;
    max-width: 35vw;
    background-color: white;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-shadow: -13px 0 20px 5px #555;
}

.sidebar .nav-menu{
    padding-top:10px;
}

.sidebar h3 {
    font-family: 'Raleway', sans-serif;
    text-align:center;
    font-weight:bolder;
}

.sidebar .aao-logo{
    width: 8em;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6vh;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

.sidebar i {
    padding-left:10px;
    padding-right:10px;
}

.sidebar .arrow-align-right {
    display:flex;
    justify-content:space-between;
}

.sidebar a.active {
    color: #00904A;
}

.sidebar a:hover:not(.active) {
    color: #00904A;
}

.render-body {
    padding-left:4vw;
}

#topnav {
    background-color: #00904A;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

#topnav #nav-login{
    color:white;
    font-size: 20px;
    padding-right: 2vw;

}


p.companyName {
    margin: 0px;
    font-size: 26px;
    margin-bottom: -5px;
}

p.appName {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: bold;
}

body .formen {
    text-align: center;
    width: 33%;
    height: 250px;
    margin: auto;
    border-radius: 3px;
    padding: 12px 50px;
}

body label.form-navn {
    text-align: left;
    width: 100%;
    font-size: 17px;
    font-weight: 700;
}

body label.form-kode {
    text-align: left;
    width: 100%;
    font-size: 17px;
    margin-top: 15px;
    font-weight: 700;
}


/* FORM */
body input#fname, input#lname {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #00000069;
}

input#fname:active {
    border: 1px solid #009149;
}


/* KNAPPER */
input.knap1 {
    display: inline;
    float: left;
    background: #02904a;
    border-radius: 3px;
    padding: 5px 15px;
    width: 35%;
    color: white;
    border: 0px;
    box-shadow: 2px 2px 3px rgb(0 0 0 / 25%);
}

    input.knap1:hover {
        opacity: 0.7;
        transition: 0.3s;
    }

input.knap2 {
    display: inline;
    float: right;
    background: #b4b2b2;
    border-radius: 3px;
    width: 35%;
    padding: 5px 15px;
    color: white;
    border: 0px;
    box-shadow: 2px 2px 3px rgb(0 0 0 / 25%);
}

    input.knap2:hover {
        opacity: 0.7;
        transition: 0.3s;
    }


/* LOGO */
.containeren img {
    width: 250px;
}
