* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.6;
}

*:before,
*:after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

body,
html {
    font-family: 'Raleway', sans-serif;
    height: 100%;
    padding-top: 0;
    width: 100%;
}

.modal-content{
    height: 500px;
    width: 700px;
}
