.table {
    width: 100%;
    border-collapse: collapse;
}

tr,
th,
td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background: #00904a;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #a2ad9c;
}


.searchdate {
    outline: #888 1px solid;
}
